{% extends 'account/base.html' %}
{% load thumbnail %}
{% load lst_img_tags %}


{% block title %}{{select_user.first_name}}{% endblock %}

{% block content %}

    <h1 class="msg-simple">{{ select_user.get_full_name }}</h1>
    
    <img src="{% thumbnail select_user.profile.photo 180x180 %}">
   
    {% with total_followers=select_user.followers.count %}
   
        <span class="msg-simple">{{ total_followers }} follower{{ total_followers|pluralize }}</span>
        
        <a href="#" data-id="{{ select_user.id }}" data-action="{% if request.user in select_user.followers.all %}un{% endif %}follow" class="follow button">

            {% if request.user not in select_user.followers.all %}
                Follow
            {% else %}
                Unfollow
            {% endif %}
        </a>

        <div class="list-images">
            {% list_images_tag select_user %}

        </div>

    {% endwith %}

{% endblock %}