.navbar {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color: rgb(225, 146, 0);
    font-size: 2em;
    color: white;
    align-items: center;
}
body {
    margin: 0;
    background-color: purple;
    min-height: 100vh;
    /* height: 100%; */
}
.footer{
    height: 8vh;
    text-align: center;
    background-color: lightslategray;
    /* position: absolute;
    bottom: 0; */
    width: 100%;
}
.footer-text{
    color: white;
    font-size: 1.5em;
}

.msg-simple {
    color: yellow;
}

.msg-error {
    color: red;
}

.msg-done {
    color: green;
}


a {
    text-decoration: none;
    color: white;
}
.main a {
    font-size: 1.5em;
    border: rgb(255, 123, 0) solid 1px;
}

.navbar a {
    border: white solid 1px;
}

.link-bookm {
    padding: 0.23em;
}
.main {
    height: 100%;
}

.list-images {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-box {
    margin: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}