.navbar {
    display: flex;
    justify-content: space-between;
    height: 10%;
    background-color: deepskyblue;
    font-size: 2em;
    color: white;
    align-items: center;
}
body {
    margin: 0;
    background-color: lightcyan;
    height: 100vh;
}
.footer{
    height: 8%;
    text-align: center;
    background-color: lightslategray;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer-text{
    color: white;
    font-size: 1.5em;
}

.msg-simple {
    color: rgb(18, 17, 36);
}

.msg-error {
    color: red;
}

.msg-done {
    color: green;
}

.main a {
    text-decoration: none;
    border: rgb(255, 123, 0) solid 1px;
}

.navbar a {
    text-decoration: none;
    border: white solid 1px;
}

